adbc_driver_manager==1.1.0
adbc_driver_postgresql==1.1.0
adbc_driver_sqlite==1.1.0
altair_saver==0.5.0
anywidget==0.9.13
AppKit==0.2.8
array_api_strict==2.0.1
atheris==2.3.0
beautifulsoup4==4.12.3
bokeh==3.5.2
boto3==1.35.9
botocore==1.35.9
brotli==1.1.0
brotlicffi==1.1.0.0
cairocffi==1.7.1
Carbon==1.1.10
chardet==5.2.0
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.0
Cython==3.0.11
cytoolz==0.12.3
cyvcf2==0.31.1
defcon==0.10.3
defusedexpat==0.4
defusedxml==0.7.1
disco==1.40.4
dl==0.1.0
docutils==0.21.2
fastparquet==2024.5.0
filelock==3.15.4
Foundation==0.1.0a0.dev1
fqdn==1.5.1
freetype_py==2.5.1
fsspec==2024.6.1
gitdb_speedups==0.1.0
glyphsLib==6.8.2
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.111.2
importlib_metadata==8.4.0
importlib_resources==6.4.4
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.5
isoduration==20.11.0
jax==0.4.31
jnius==1.1.0
JPype1==1.5.0
jsonpointer==3.0.0
keyring==25.3.0
lxml==5.3.0
lz4==4.3.3
mock==5.1.0
mpmath==1.3.0
mtrand==0.1
munkres==1.1.4
mypy==1.11.2
MySQL-python==1.2.5
networkx==3.3
numarray==1.5.1
Numeric==24.2
numexpr==2.10.1
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.5
ordereddict==1.1
paramiko==3.4.1
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
plac==1.4.3
plotly==5.24.0
psutil==6.0.0
py==1.11.0
pycares==4.4.0
pycurl==7.45.3
pydantic==2.8.2
pygraphviz==1.13
PyInstaller==6.10.0
pyld==2.0.4
pyodide==0.0.2
pyOpenSSL==24.2.1
pyperf==2.7.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.7.1
PySide2==5.15.2.1
PySide6==6.7.2
pytest==8.3.2
pytest_fail_slow==0.6.0
pytest_timeout==2.3.1
python_calamine==0.2.3
python_igraph==0.11.6
pywin32==306
pyxlsb==1.0.10
PyYAML==6.0.2
PyYAML==6.0.2
qtpy==2.4.1
Quartz==0.0.1.dev0
railroad==0.5.0
rdflib==7.0.0
redis==5.0.8
reportlab==4.2.2
requests_cache==1.2.1
Res==0.1.7
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2024.6.1
scikit_learn==1.5.1
scikits.talkbox==0.2.5
scipy_doctest==1.4
selenium==4.24.0
sets==0.3.2
setuptools_scm==8.1.0
shiboken2==5.15.2.1
shiboken6==6.7.2
simplejson==3.19.3
sip==6.8.6
slack_sdk==3.31.0
sniffio==1.3.1
snowflake==0.12.1
Sphinx==8.0.2
sphinx_gallery==0.17.1
SQLAlchemy==2.0.32
sympy==1.13.2
testbench==0.1.2
thread==2.0.5
threadpoolctl==3.5.0
traitlets==5.14.3
trio==0.26.2
ufoLib2==0.16.0
uharfbuzz==0.39.5
unicodedata2==15.1.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
vegafusion==1.6.9
webcolors==24.8.0
xarray==2024.7.0
xattr==1.1.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
zopfli==0.2.3
zstandard==0.23.0
